---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import ContentMedia from '../components/ContentMedia.astro'
import InstagramFeed from '../components/InstagramFeed.astro'
---

<DefaultLayout title="HOME">
  <Hero />
  <ContentMedia id="about" imgSrc="/images/german-headshot.webp" reverseImg={true}>
    <h2>About German</h2>
    <p class="text-2xl">
      Born and raised in Caracas, Venezuela, German Gamboa discovered his passion for the arts early on. He pursued a
      degree in Graphic Design/Illustration and soon after began his career as a Tattoo Artist. Now based in Miami,
      Florida, German travels the world, sharing his creativity and love for the arts through his captivating tattoo
      designs. Be warned: his infectious vibes may leave you craving more than one tattoo experience.
    </p>
  </ContentMedia>
  <InstagramFeed />
</DefaultLayout>
