---
import { Icon } from 'astro-icon'

const { icon = 'mdi:rocket', url = 'Title' } = Astro.props
---

<div class="bg-white rounded-full">
  <a href={url} target="_blank">
    <Icon name={icon} class="text-xl w-10 p-1" />
  </a>
</div>
